--- 
layout: default
gallery:
  - heading: Built to last a 
    span: lifetime
    text: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias distinctio deleniti vel! Asperiores omnis rerum doloremque, animi temporibus ab amet explicabo voluptate est. Cupiditate, harum. Provident perferendis repudiandae expedita repellendus!
    bed_image: /images/the-sleep-co-bed.jpg
  - heading: Built to last a 
    span: lifetime
    text: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias distinctio deleniti vel! Asperiores omnis rerum doloremque, animi temporibus ab amet explicabo voluptate est. Cupiditate, harum. Provident perferendis repudiandae expedita repellendus!
    bed_image: /images/the-sleep-co-bed.jpg
features:
  - icon: fa-cloud
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ab nobis, qui praesentium iste magnam esse, minus exercitationem modi veniam, deleniti atque harum asperiores at ad saepe. Quod, asperiores ipsum.
  - icon: fa-cloud
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ab nobis, qui praesentium iste magnam esse, minus exercitationem modi veniam, deleniti atque harum asperiores at ad saepe. Quod, asperiores ipsum.
  - icon: fa-cloud
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ab nobis, qui praesentium iste magnam esse, minus exercitationem modi veniam, deleniti atque harum asperiores at ad saepe. Quod, asperiores ipsum.
  - icon: fa-cloud
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ab nobis, qui praesentium iste magnam esse, minus exercitationem modi veniam, deleniti atque harum asperiores at ad saepe. Quod, asperiores ipsum.

--- 	
	
	<!------- Header Banner ------->
	<header class="grid text-center tall-60">
		{% include header-nav.html %}
		<!-- Hero section -->
		<div class="col-12">
			<h3 class="font-weight-extra-bold editable">
				We're the <span class="featured-text">Best</span>
			</h3>
			<h1 class="font-weight-light editable">
				The Perfect Mattress for your Family
			</h1>
		</div>
	</header>
	<!-------- Video/ About Section -------->
	<section class="grid-center bg-light sm-text-center">
    <div class="col-7_sm-12 padded">
			<!-- Nala - Landscape version -->
<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/566499500?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="nala - horizontal"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
		</div>
		<div class="padded col-5_sm-12-middle">
			<h2>A catchy <span class="featured-text">heading</span></h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore
				ratione sequi quod tenetur quam ipsa molestias enim deleniti, nostrum
				nemo earum non illo? Repudiandae tenetur harum est modi, deleniti quo!
			</p>
		</div>	
	</section>

  	<!-------- Gallery/ About Section -------->
			{% for item in page.gallery %}
		<section class="grid padded flex-flip">
		
      	<div class="col-6_xs-12 tall-70"
						 style="background-image: url('{{item.bed_image}}');">
				<!-- Background image bed -->
			</div>
			<div class="padded col-6_xs-12-middle">
				<h2>{{item.heading}}<span class="featured-text"> {{item.span}}</span></h2>
				<p>
					{{item.text}}
				</p>
			</div>
		
		</section>

			{% endfor %}

    <!-------- icon grid sustainability -------->
		<section class="padded grid bg-featured">
			<div class="padded-sm col-12">
				<h2 class="text-center">
					<span class="white-text">Features </span>you will love
				</h2>
			</div>

			{% for item in page.features %}
			<div class="padded-sm col-3_xs-12">
				<i class="fas {{item.icon}}"></i>
				<p class="xs-text-center">
					{{item.description}}
				</p>
			</div>

			{% endfor %}
		</section>

  
