/* Colors
yellow: #ffbe00;
navy: #192b37;
*/

/* Universal reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

/* Optional padding to override default gridlex columns */
[class*="col"] {
	padding: 0;
}

/***************** Universal styles & utility classes *****************/

/* Padding Utility Classes */
.padded-sm {
	padding: 2.5%;
}
.padded {
	padding: 5%;
}
.padded-lg {
	padding: 10%;
}

.padded-05 {
	padding: 0.5rem;
}
.padded-1 {
	padding: 1rem;
}
.padded-2 {
	padding: 2rem;
}

.padded-t {
	padding-top: 5%;
}
.padded-b {
	padding-bottom: 5%;
}
.padded-l {
	padding-left: 5%;
}
.padded-r {
	padding-bottom: 5%;
}

.padded-tb {
	padding-top: 5%;
	padding-bottom: 5%;
}
.padded-lr {
	padding-left: 5%;
	padding-right: 5%;
}

.padded-t-1 {
	padding-top: 1rem;
}
.padded-b-1 {
	padding-bottom: 1rem;
}
.padded-l-1 {
	padding-left: 1rem;
}
.padded-r-1 {
	padding-bottom: 1rem;
}

.padded-t-2 {
	padding-top: 2rem;
}
.padded-b-2 {
	padding-bottom: 2rem;
}
.padded-l-2 {
	padding-left: 2rem;
}
.padded-r-2 {
	padding-bottom: 2rem;
}

.padded-t-0 {
	padding-top: 0;
}
.padded-b-0 {
	padding-bottom: 0;
}
.padded-l-0 {
	padding-left: 0;
}
.padded-r-0 {
	padding-bottom: 0;
}

/* Margin Utility Classes */

.margin-t {
	margin-top: 5%;
}
.margin-b {
	margin-bottom: 5%;
}
.margin-l {
	margin-left: 5%;
}
.margin-r {
	margin-right: 5%;
}

.margin-t-1 {
	margin-top: 1rem;
}
.margin-b-1 {
	margin-bottom: 1rem;
}
.margin-l-1 {
	margin-left: 1rem;
}
.margin-r-1 {
	margin-right: 1rem;
}

.margin-t-2 {
	margin-top: 2rem;
}
.margin-b-2 {
	margin-bottom: 2rem;
}
.margin-l-2 {
	margin-left: 2rem;
}
.margin-r-2 {
	margin-right: 2rem;
}

.margin-t-0 {
	margin-top: 0;
}
.margin-b-0 {
	margin-bottom: 0;
}
.margin-l-0 {
	margin-left: 0;
}
.margin-r-0 {
	margin-right: 0;
}

.margin-tb {
	margin-top: 5%;
	margin-bottom: 5%;
}
.margin-lr {
	margin-left: 5%;
	margin-right: 5%;
}

/* Text styles */

.featured-text {
	color: #ffbe00;
}

.white-text {
	color: white;
}

/* Background styles */

/* Image styles */

.bg-image {
	background-image: url("images/the-sleep-co-bed.jpg");
	background-size: cover;
	min-height: 10rem;
}

.landscape {
	padding-bottom: 65%;
}

.portrait {
	padding-bottom: 125%;
}

.square {
	padding-bottom: 100%;
}

.bg-dark {
	background-color: #192b37;
	color: white;
}

.bg-featured {
	background-color: #ffbe00;
}

.bg-lightblue {
	background: #e3ecf2;
}

/* Background Position */
.bg-pos-t {
	background-position: top;
}
.bg-pos-b {
	background-position: bottom;
}
.bg-pos-l {
	background-position: left;
}
.bg-pos-r {
	background-position: right;
}

/* Typography styles */

.normal-weight-text {
	font-weight: 400;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.right {
	text-align: right;
}

.tall-50 {
	min-height: 50vh;
}
.tall-60 {
	min-height: 60vh;
}
.tall-70 {
	min-height: 70vh;
}
.text-right {
	text-align: right;
}

.tall-80 {
	min-height: 80vh;
}
.tall-90 {
	min-height: 90vh;
}
.tall-100 {
	min-height: 100vh;
}

/* Typography styles */

.font-weight-light {
	font-weight: 200;
}

.font-weight-normal {
	font-weight: normal;
}

.font-weight-extra-bold {
	font-weight: 800;
}

.small-text {
	font-size: 1.5rem;
}

.medium-text {
	font-size: 2rem;
}

.big-text {
	font-size: 4.5rem;
}

.subtitle {
	font-size: 1.2rem;
	color: rgb(120, 120, 125);
}

.quote-icon {
	font-size: 6rem;
	display: inline-block;
	color: rgb(120, 120, 125);
	line-height: 1;
}

body {
	font-family: "Catamaran", sans-serif;
	color: #192b37;
}

h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1rem;
	line-height: 1.1;
}

h2 {
	font-size: 2.5rem;
	line-height: 1.1;
	margin-bottom: 1rem;
}

h3 {
	line-height: 1;
}

p {
	font-weight: 200;
	line-height: 1.5;
	margin-bottom: 1rem;
}

p:last-child {
	margin-bottom: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #ffbe00;
}

/* Background images */

.bg-bed {
	background-image: url("images/the-sleep-co-bed.jpg");
	background-position: center;
	background-size: cover;
}
.bg-pug {
	background-image: url("images/the-sleep-co-pug.jpg");
	background-position: 50% 35%;
	background-size: cover;
}
.bg-sheet {
	background-image: url("images/the-sleep-co-sheets.jpg");
	background-position: center;
	background-size: cover;
}
.bg-yellow {
	background-image: url("images/the-sleep-co-yellow.jpg");
	background-position: 50% 20%;
	background-size: cover;
}

/* Header and footer styles */
header {
	background-image: url("images/the-sleep-co-sheets.jpg");
	background-size: cover;
	background-position: center;
	padding: 2% 5%;
}

header h3 {
	font-size: 5.5rem;
	line-height: 1;
}

.logo h2 {
	margin-bottom: 0;
}

nav a {
	margin: 0 0.5rem;
	font-size: 1.2rem;
	display: inline-block;
}

/* Icon styling */

.fas {
	display: block;
	font-size: 3rem;
	margin-bottom: 3rem;
	text-align: center;
}

/* Buttons and forms */

input,
textarea {
	width: 100%;
	display: block;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	font-family: inherit;
	font-size: 0.9rem;
	border: 2px solid transparent;
}

input:focus,
textarea:focus {
	border: 2px solid #ffbe00;
	outline: none;
}

label {
	font-size: 1.3rem;
}

button {
	padding: 0.5rem 2rem;
	background-color: #ffbe00;
	appearance: none;
	border: 2px solid #ffbe00;
	color: inherit;
}
