/* Colors
yellow: #ffbe00;
navy: #192b37;
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Temporary styles for structural html */

section {
	border: 2px solid rgb(240, 240, 240);
}

body {
	font-family: "Catamaran", sans-serif;
	color: #192b37;
}

/* Image styles */

.bg-image {
	background-image: url("images/the-sleep-co-bed.jpg");
	background-size: cover;
	min-height: 10rem;
}

/* Universal styles & utility classes */

.padded {
	padding: 5%;
}

.padded-sm {
	padding: 1rem;
}

.featured-text {
	color: #ffbe00;
}

.bg-dark {
	background-color: #192b37;
	color: white;
}

.normal-weight-text {
	font-weight: 400;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.tall-80 {
	min-height: 80vh;
}
.tall-90 {
	min-height: 90vh;
}
.tall-100 {
	min-height: 100vh;
}

/* Typography styles */

.font-weight-light {
	font-weight: 200;
}

.font-weight-normal {
	font-weight: normal;
}

.font-weight-extra-bold {
	font-weight: 800;
}

h2 {
	font-size: 2.5rem;
	line-height: 1.1;
	margin-bottom: 1rem;
}

p {
	font-weight: 200;
	line-height: 1.5;
	margin-bottom: 1rem;
}

p:last-child {
	margin-bottom: 0;
}

/* Header styles */
header {
	background-image: url("images/the-sleep-co-sheets.jpg");
	background-size: cover;
	background-position: center;
}

header h3 {
	font-size: 5.5rem;
	line-height: 1;
}
